<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">{{ user.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-avatar>
      <img class="circle" src="assets/imgs/avatar-blank.png">
    </ion-avatar>
    <ion-card class="profile-user">
      <ion-input 
        [(ngModel)]="user.name"
        class="input-perfil">
      </ion-input>
      <button (click)="alterarNome()" class="btn_alterar"><ion-icon name="create"></ion-icon></button>
    </ion-card>

</ion-content>
