page-profile {

    .circle 
    {
        width: 60%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }

    .profile-user
    {
        display: inline-flex;
        margin: 7% 8% 7% 3%;
    }

    .btn_alterar
    {
        background-color: transparent;
        font-size: 25px;
        color: #4dd6ad;
        width: 12%;
    }

    .input-perfil
    {
        .text-input
        {
            text-align: center;
            padding: 2px 2px 2px 41px;
            font-size: 23px;
        }
    }

}
