<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">Ciclofaixas PE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button *ngFor="let bikelane of bikelanes" class="btn-card">
      <ion-card class="card-bikelane">
        <ion-card-header>              
          <button class="btn-favorite" (click)="favoritar(bikelane)"><ion-icon name="star"></ion-icon></button>            
          <ion-card-title class="card-title">{{ bikelane.rota }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="bairro">{{ bikelane.bairro }}</p>
            <p class="sentido">{{ bikelane.sentido }}</p>
            <p>{{ bikelane.percurso }}</p>
        </ion-card-content>
      </ion-card>
  </button>

</ion-content>
