page-home {

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    .back-color {
        background-color: #e0eaeb;
    }
}
