<ion-content padding class="back-color">

  <h3>Bikelanes</h3>
  
  <img src="assets/imgs/bicicles.jpg">

  <form>
    <ion-item class="back-color">
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="credenciais.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item class="back-color">
      <ion-label stacked>Senha</ion-label>
      <ion-input [(ngModel)]="credenciais.password" name="password" type="password"></ion-input>
      </ion-item>
      <button ion-button block (click)="login()">Entrar</button>
  </form>
  <button ion-button block outline (click)="signUp()">Registrar</button>

</ion-content>
