page-favorites {

    .btn-card
    {
        background: transparent;
    }
    
    .btn-desfavoritar
    {
       background: transparent;  
       font-size: 35px;
       display: block;
       margin-left: 85%;
       color: #e83c34;
    }

    .card-bikelane
    {
        min-width: 296px;
        background: #e0eaeb;
    }

    .card-title
    {
        max-width: 287px;
        white-space: normal;
        display: block;        
    }

    .sentido
    {
        text-align: center;
    }

    .bairro
    {
        font-weight: bold;
    }
}
